* {
    font-family: 'Roboto', sans-serif;
}

html {
    margin: 0;
    border: 0;
    background: rgb(0,255,136);
    background: -moz-linear-gradient(90deg, rgba(0,255,136,1) 0%, rgba(6,255,0,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,255,136,1) 0%, rgba(6,255,0,1) 100%);
    background: linear-gradient(90deg, rgba(0,255,136,1) 0%, rgba(6,255,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ff88",endColorstr="#06ff00",GradientType=1);
}

body {
    text-align: center;
    display: flex;
}

.titleLogo {
    height: 7vh;
    vertical-align: middle;
}

.titleText {
    font-size: 2.5vh;
    margin-left: 1vw;
    padding-top: 10vh;
    vertical-align: middle;
}

.title {
    width: 20vw;
    top: 3vh;
    left: 40vw;
    position: absolute;
    display: inline-block;
    background-color: white;
    padding-top: 2vh;
    border-radius: 3vh;
    text-align: center;
    height: 8vh;
    padding-bottom: 0.7vh;
    overflow: hidden;
    text-overflow: hidden;
}

.central {
    width: 80vw;
    top: 20vh;
    left: 10vw;
    position: absolute;
    display: inline-block;
    background-color: white;
    padding-top: 2vh;
    border-radius: 3vh;
    text-align: center;
    height: 25vh;
    padding-bottom: 0.7vh;
}